# Discord OAuth
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
DISCORD_SERVER_ID=
NEXT_PUBLIC_DISCORD_INVITE=https://discord.gg/TTQn3AuhUY

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/minecraft_plugin_ai

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_EMAIL=apotodax@gmail.com
PAYPAL_MODE=sandbox

# Ads Network
GOOGLE_ADSENSE_CLIENT_ID=
PROPELLER_PUBLISHER_ID=

# NextAuth
NEXTAUTH_SECRET=your_secret_key_here
NEXTAUTH_URL=http://localhost:3000

# Ollama
OLLAMA_API_URL=http://localhost:11434
OLLAMA_MODEL=llama2

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
